header
	.container
		a(href="/").logo
			h1 Rocio 
				span Gordillo
		nav
			ul#nav
				li: a(href="#acerca-de") Acerca de
				li: a(href="#portafolio") Portafolio
				li: a(href="#noticias") Noticias
				li: a(href="#reconocimientos") Reconocimientos
				li: a(href="#contacto") Contacto
				li
					a(href="#") EN / ES
